.watch-wrapper {
  border: 2px solid black;
  width: 30rem;
  height: 30rem;
  border-radius: 15rem; }
  .watch-wrapper .watch-number {
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid transparent;
    width: 2rem;
    height: 2rem;
    text-align: center; }
    .watch-wrapper .watch-number.n-1 {
      position: relative;
      left: 20.5rem;
      top: 0rem; }
    .watch-wrapper .watch-number.n-2 {
      position: relative;
      left: 25.5rem;
      top: 3.5rem; }
    .watch-wrapper .watch-number.n-3 {
      position: relative;
      left: 27rem;
      top: 8rem; }
    .watch-wrapper .watch-number.n-4 {
      position: relative;
      left: 25rem;
      top: 11.5rem; }
    .watch-wrapper .watch-number.n-5 {
      position: relative;
      left: 20.5rem;
      top: 13.5rem; }
    .watch-wrapper .watch-number.n-6 {
      position: relative;
      left: 13.5rem;
      top: 13.5rem; }
    .watch-wrapper .watch-number.n-7 {
      position: relative;
      left: 6.5rem;
      top: 9rem; }
    .watch-wrapper .watch-number.n-8 {
      position: relative;
      left: 3rem;
      top: 3rem; }
    .watch-wrapper .watch-number.n-9 {
      position: relative;
      left: 1rem;
      top: -5rem; }
    .watch-wrapper .watch-number.n-10 {
      position: relative;
      left: 2.5rem;
      top: -13.75rem; }
    .watch-wrapper .watch-number.n-11 {
      position: relative;
      left: 6.5rem;
      top: -21.5rem; }
    .watch-wrapper .watch-number.n-12 {
      position: relative;
      left: 13.5rem;
      top: -25.5rem; }
  .watch-wrapper .center {
    position: relative;
    top: 15.5rem;
    left: 14rem;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem; }
  .watch-wrapper .tick {
    position: relative;
    top: 14rem;
    display: flex;
    justify-content: flex-start; }
    .watch-wrapper .tick.hour div {
      width: 50%;
      border: 2px solid black;
      clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%); }
    .watch-wrapper .tick.minute div {
      width: 50%;
      border: 2px solid black;
      clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%); }
    .watch-wrapper .tick.second div {
      width: 50%;
      border: 2px solid black;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%); }
